
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h4{
  margin-top: 15px;
  margin-bottom: 30px;
}

.quantity{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: rgb(214, 211, 211);
  padding: 5px;
}

.quantity_minus, .quantity_plus{
  border: none;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: blue;
  width: 40px;
  text-align: center;
  background-color: rgb(214, 211, 211);
}

.quantity_input{
  border: none;
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  width: 50px;
  text-align: center;
  padding: 5px;
}